<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../plugin/layui/css/layui.css" media="all">
</head>
<body>

<div class="layui-card">
    <div class="layui-card-header">Editor</div>
    <div class="layui-card-body">
        <form class="layui-form" action="customerAddDo.php" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">AmountPaid</label>
                <div class="layui-input-block">
                    <input type="hidden" name="id" >
                    <input type="text" required name="AmountPaid" lay-verify="required"  autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">TicketNumber</label>
                <div class="layui-input-block">
                    <input type="text" required name="TicketNumber" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">ItemsBought</label>
                <div class="layui-input-block">
                    <input type="text" required name="ItemsBought" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">ItemPrice</label>
                <div class="layui-input-block">
                    <input type="text" required name="ItemPrice" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">ItemName</label>
                <div class="layui-input-block">
                    <input type="text" required name="ItemName" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">AmountBought</label>
                <div class="layui-input-block">
                    <input type="text" required name="AmountBought" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">EmergencyContact</label>
                <div class="layui-input-block">
                    <input type="text" required name="EmergencyContact" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">FinanceEarnings</label>
                <div class="layui-input-block">
                    <input type="text" required name="FinanceEarnings" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="userForm">Submit</button>
                    <button type="reset" class="layui-btn layui-btn-primary">Rest</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="../../../plugin/layui/layui.js" ></script>
<script src="../../../js/jquery.js" ></script>


</body>
</html>
